• 1 Linear Merge

Given two lists sorted in increasing order, create and return a merged list of all the elements in so
rted order. You may modify the passed in lists. Ideally, the solution should work in &quot;linear&quot; tim
e, making a single pass of both lists.

In [2]:
def linear_merge(list1, list2):
    merged_list = []
    i, j = 0, 0

    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Add remaining elements from list1 (if any)
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Add remaining elements from list2 (if any)
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

# Example usage:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
print(linear_merge(list1, list2))  # Output: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

2 Initialize dictionary

Initialize dictionary with default values. One line solution.
Input:
employees = [&#39;Kelly&#39;, &#39;Emma&#39;, &#39;John&#39;]
defaults = {&quot;designation&quot;: &#39;Application Developer&#39;, &quot;salary&quot;: 8000}
Output:
{&#39;Kelly&#39;: {&#39;designation&#39;: &#39;Application Developer&#39;, &#39;salary&#39;: 8000}, &#39;Emma&#39;: {&#39;designation&#39;:
&#39;Application Developer&#39;, &#39;salary&#39;: 8000}, &#39;John&#39;: {&#39;designation&#39;: &#39;Application Developer&#39;, &#39;salary&#39;:
8000}}

In [1]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

employee_dict = dict.fromkeys(employees, defaults)

print(employee_dict)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

• 3 Delete keys

Delete set of keys from a dictionary. Give one line solution.
Input:
sampleDict = {
&quot;name&quot;: &quot;Kelly&quot;,
&quot;age&quot;:25,
&quot;salary&quot;: 8000,
&quot;city&quot;: &quot;New york&quot;
}

keysToRemove = [&quot;name&quot;, &quot;salary&quot;]
Output:
{&#39;city&#39;: &#39;New york&#39;, &#39;age&#39;: 25}

In [3]:
sampleDict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

keysToRemove = ["name", "salary"]

filteredDict = {key: value for key, value in sampleDict.items() if key not in keysToRemove}

print(filteredDict)

{'age': 25, 'city': 'New york'}

4 Set Operations

Consider two sets X and Y. You may take any type of values for these sets. Try to find a
solution
to get a set having all elements in either X or Y, but not both.

In [4]:
X = {1, 2, 3, 4, 5}
Y = {4, 5, 6, 7, 8}

result = X ^ Y  # Symmetric difference

print(result)

{1, 2, 3, 6, 7, 8}

5 Exception Handling for Division

Write a function to divide two numbers P and Q. Implement exception handling technique
(try..except clause) for handling possible exceptions in the scenario.

In [5]:
def safe_divide(P, Q):
    try:
        result = P / Q
        return f"Result: {result}"
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."
    except TypeError:
        return "Error: Both inputs must be numbers."
    except Exception as e:
        return f"Unexpected error: {e}"

# Example usage:
print(safe_divide(10, 2))   # Output: Result: 5.0
print(safe_divide(10, 0))   # Output: Error: Division by zero is not allowed.
print(safe_divide(10, 'a')) # Output: Error: Both inputs must be numbers.

Result: 5.0
Error: Division by zero is not allowed.
Error: Both inputs must be numbers.